/* The blue frame at the top */
div.main-blue {
	height: 250px; 
	background-color: #657a85; 
	overflow: hidden;
}

/* This centers stuff horizontally */
div.container {
	width: 40%; 
	margin-left: auto; 
	display: flex; 
	align-items: center; 
	min-height: 100%;
}

/* This centers stuff vertically */
div.inner-centered {
	display: flex; 
	align-items: center; 
	flex-direction: row; 
	flex-wrap: wrap;
}

/* Other minor adjustments */
div.topspace {
	margin-top: 5px;
}

table.centered-topspace {
	width: 50%; 
	margin: 3em auto auto auto;
}

h2 {
	color:white;
}